:root {
    --primary: #ffffff;
    --primary-shade: #E5E5E5;
    --dark-shade: #bcbcbf;
    --dark: #303030;
    --dark-2: #242424;
    --secondary: #F3F3F5;
    --red: #c1121f;
    --green: #00A36C;
    --green-shade: #01754e;

}

@theme {
    --color-primary: var(--primary);
    --color-primary-shade: var(--primary-shade);
    --color-dark-shade: var(--dark-shade);
    --color-dark: var(--dark);
    --color-dark-2: var(--dark-2);
    --color-secondary: var(--secondary);
    --color-red: var(--red);
    --color-green: var(--green);
    --color-green-shade: var(--green-shade);

    /* Fonts */
    --font-sans: "Ubuntu", sans-serif;
}