:root {
    --primary: #ffffff;
    --primary-shade: #E5E5E5;
    --dark-shade: #bcbcbf;
    --dark: #303030;
    --secondary: #F3F3F5;

}

@theme {
    --color-primary: var(--primary);
    --color-primary-shade: var(--primary-shade);
    --color-dark-shade: var(--dark-shade);
    --color-dark: var(--dark);
    --color-secondary: var(--secondary);
}